@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
}

section.content h1 {
  font-family: "Bungee Outline", sans-serif;
  font-size: 5rem;
  line-height: 90px;
  text-align: center;
}
