* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator span {
  display: grid;
  height: 60px;
  width: 60px;
  background-color: #292929;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.calculator span:active {
  background-color: rgb(255, 163, 26);
  color: #fff;
}

.calculator span.num {
  grid-column: span 2;
  width: 120px;
  background-color: rgb(255, 163, 26);
  color: #1b1b1b;
}

.calculator span.num:active {
  background-color: #1b1b1b;
  color: rgb(255, 163, 26);
  border: 1px solid rgb(255, 163, 26);
}
