* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 100px;
  color: white;
}

.btn-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.button {
  padding: 10px 20px;
  color: white;
  background-color: #141517;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 100%;
}
